## LAMBDA FUNCTION

Lambda function is same as user define function but without any name so it is also called as anonymous anonymous Function.

This function is good to use for one logic fuction as just one line is sufficient for it. 

Complex function logic can't be created using lambda function.

#### syntex = lambda argument : function

lambda x: x**2

In [93]:
### find the square of the number 
s=lambda x:x**2

s(3)

9

In [91]:
### Find the maximum number amoung tree
f=(lambda x,y,z:max(x,y,z))

In [92]:
f(56,45,78)

78

In [ ]:
### Multiply

In [78]:
### return the length of the string
fruits=["Apple","Banana","Orange","Dates"]

In [79]:
list(map(lambda x : len(x),fruits))

[5, 6, 6, 5]

In [90]:
### Arrange the string based on the length of it in assending order

name=["Prashant","Singh",'AAA',"BE","EEE","Bangalore","DELHIIIIIIII"]

sorted(name,key=lambda x: len(x),reverse=True)

['DELHIIIIIIII', 'Bangalore', 'Prashant', 'Singh', 'AAA', 'EEE', 'BE']

In [121]:
### sort the list of dictionaries based on the specific key

d= [{"Name":"Jon","city":"SPAIN","Occupation":"Design Engineer",'age':30},
    {"Name":"Prashant","age":29,"Occupation":"Employeed"},
   {"Name":"Julia","city":"Bhopal","Occupation":"Data Analst","age":56},
]

In [113]:
sorted(d,key=lambda x : x["age"])

[{'Name': 'Prashant', 'age': 29, 'Occupation': 'Employeed'},
 {'Name': 'Jon', 'city': 'SPAIN', 'Occupation': 'Design Engineer', 'age': 30},
 {'Name': 'Julia', 'city': 'Bhopal', 'Occupation': 'Data Analst', 'age': 56}]

In [119]:
### sort the list of dictionaries based on the name 
sorted(d,key=lambda x:len(x["Name"]))

[{'Name': 'Jon', 'city': 'SPAIN', 'Occupation': 'Design Engineer', 'age': 30},
 {'Name': 'Julia', 'city': 'Bhopal', 'Occupation': 'Data Analst', 'age': 56},
 {'Name': 'Prashant', 'age': 29, 'Occupation': 'Employeed'}]

In [141]:
info={
      "Name":"Jon","city":"SPAIN","Occupation":"Design Engineer",'age':30,
    "Name":"Prashant","age":29,"Occupation":"Employeed",
   "Name":"Julia","city":"Bhopal","Occupation":"Data Analst","age":56}

In [143]:
sorted(info,key=lambda x : x[1])

['Name', 'Occupation', 'age', 'city']

In [131]:
footballers_goals = {'Eusebio': 120, 'Cruyff': 104, 'Pele': 150, 'Ronaldo': 132, 'Messi': 125}

In [142]:
info

{'Name': 'Julia', 'city': 'Bhopal', 'Occupation': 'Data Analst', 'age': 56}

In [135]:
sorted_footballers_by_goals

[('Cruyff', 104),
 ('Eusebio', 120),
 ('Messi', 125),
 ('Ronaldo', 132),
 ('Pele', 150)]

### MAP Function 

<font Size=5> map(function,itrable) </font>

function= it is a function to which map passes the each element of given
iteble= it can be list, tupple , dictonery that can be mapped or itrate.


Map itrate the given iterable and pass each element through the function .

In [82]:
l=[1,2,3,4,5,6,7,8,9]

In [83]:
### squeare the each item of the list

list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [147]:
### if number is even square them out 

list(map(lambda x:x**2 if x%2==0 else x,l))

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [144]:
### filter out the even number from the list

In [149]:
list(filter(lambda x : x%2==0,l)) ### Filter work as filter out then the value is True

[2, 4, 6, 8]