#### TUPLE
Tuple is also a in built type of Data type in the Pyhton which can hold the any kind of data 
such as String, INT,Float,Complex
Tuples are immutable sequences in Python, which means their elements cannot be changed once they are created. Here are some common operations you can perform with tuples:

Syntex of Tuple= a=()

whatever will be inside the parenthesis will be tuple.

### Creating of Tuple

In [1]:
# Using parentheses
my_tuple = (1, 2, 3)

# Without parentheses (optional)
another_tuple = 4, 5, 6

In [2]:
my_tuple

(1, 2, 3)

In [3]:
another_tuple

(4, 5, 6)

### Accessing of the Element

In [5]:
my_tuple = (10, 20, 30)
print(my_tuple[0])  # Output: 10
print(my_tuple[1])  # Output: 20
print(my_tuple[2])  # Output: 30

10
20
30

### Slicing

In [6]:
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[1:4])  # Output: (20, 30, 40)

(20, 30, 40)

### Length of the Tuple

In [7]:
my_tuple = (1, 2, 3, 4, 5)
print(len(my_tuple))  # Output: 5

5

## Concatenation

In [8]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

## Repetition

In [11]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
##Repetition of the list
my_list=[1,2,3]
repeated_list=my_list*3

In [13]:
repeated_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## check the element if exists

In [14]:
my_tuple = (10, 20, 30)
print(10 in my_tuple)  # Output: True
print(40 in my_tuple)  # Output: False

True
False

In [15]:
### check the exect position of the element in the list
my_tuple.index(10)

0

## Unpacking Tuples

In [16]:
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a)  
print(b)  
print(c)

10
20
30

## Nested tuples

In [17]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[1][0])

3

## Conversion of the Tuples into List

In [19]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)  # Output: [1, 2, 3]

another_list = [4, 5, 6]
another_tuple = tuple(another_list)
print(another_tuple)  # Output: (4, 5, 6)

[1, 2, 3]
(4, 5, 6)

Remember that tuples are immutable, 
so you cannot modify their elements directly or 
use methods like append(), extend(), or remove(). 
If you need to change elements, consider using a list instead.

In [20]:
import os

AttributeError: module 'os' has no attribute 'cwd'